<h1>Ranking Exception <%= @rpexception.id %></h1>

<%= form_tag(rpexception_path, :method => "put", id: "rpe-edit-form") do %>

<p>
  <%= label_tag "p-name-lab", "Ranking player name: ", class: "rpe-rp-detail" %>
  <%= label_tag "p-name-val", @rpexception.rp_name, class: "rpe-rp-detail" %>
</p>

<% if @rpexception.has_base_player %>
<p>
  <%= label_tag "base-name-lab", "Player name: ", class: "rpe-base-detail" %>
  <%= label_tag "p-name-val", @rpexception.base_player_name, class: "rpe-base-detail" %>
</p>

<p>
  <%= label_tag "base-code-lab", "Player Code: ", class: "rpe-base-detail" %>
  <%= label_tag "p-code-val", @rpexception.base_player_code, class: "rpe-base-detail" %>
</p>

<p>
  <%= label_tag "base-code-lab", "Player Country: ", class: "rpe-base-detail" %>
  <%= label_tag "p-code-val", @rpexception.base_player_country_name, class: "rpe-base-detail" %>
</p>

<p>
  <%= label_tag "base-code-lab", "Player Country Code: ", class: "rpe-base-detail" %>
  <%= label_tag "p-code-val", @rpexception.base_player_country_code, class: "rpe-base-detail" %>
</p>

<% end %>

<p>
  <%= label_tag "p-nat-lab", "Ranking player nationality: ", class: "rpe-rp-detail" %>
  <%= label_tag "p-nat-val", @rpexception.rp_nationality, class: "rpe-rp-detail" %>
</p>

<% if @rpexception.has_base_country %>
<p>
  <%= label_tag "base-name-lab", "Ranking Country name: ", class: "rpe-rp-detail" %>
  <%= label_tag "p-name-val", @rpexception.base_country_name, class: "rpe-rp-detail" %>
</p>

<p>
  <%= label_tag "base-code-lab", "Ranking Country Code: ", class: "rpe-rp-detail" %>
  <%= label_tag "p-code-val", @rpexception.base_country_code, class: "rpe-rp-detail" %>
</p>

<% end %>

<br>

<% if @rpexception.has_base_country and @rpexception.has_base_player \
  and @rpexception.base_country_code != @rpexception.base_player_country_code %>
<br>
<p>
  <%= submit_tag "Keep Player Country", :name => "update[:keep_player_country]" %>
</p>
<% end %>

<% if @rpexception.has_base_country and @rpexception.has_base_player \
  and @rpexception.base_country_code != @rpexception.base_player_country_code %>
<br>
<p>
  <%= submit_tag "Set player to nationality", :name => "update[:set_to_nationality]" %>
</p>
<% end %>

<% if (!@rpexception.has_base_country) and @rpexception.has_base_player %>
<br>
<p>
  <%= submit_tag "Update player country with nationality", :name => "update[:update_country_with_nationality]" %>
</p>
<% end %>

<% if !@new_player.nil? %>
  <br>
  <p>
  <%= label_tag "new-id-lab", "New Player Id: ", class: "rpe-base-detail" %>
  <%= label_tag "new-id-val", @new_player.id, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-fname-lab", "First name: ", class: "rpe-base-detail" %>
  <%= label_tag "new-fname-val", @new_player.first_name, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-lname-lab", "Player name: ", class: "rpe-base-detail" %>
  <%= label_tag "new-lname-val", @new_player.last_name, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-country-lab", "Country: ", class: "rpe-base-detail" %>
  <%= label_tag "new-country-val", @new_player.country.name, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-gender-lab", "Gender: ", class: "rpe-base-detail" %>
  <%= label_tag "new-gender-val", @new_player.gender, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-dob-lab", "DOB: ", class: "rpe-base-detail" %>
  <%= label_tag "new-dob-val", @new_player.dob, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-pcode-lab", "New Player Code: ", class: "rpe-base-detail" %>
  <%= label_tag "new-pcode-val", @new_player.p_code, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-hand-lab", "Hand: ", class: "rpe-base-detail" %>
  <%= label_tag "new-hand-val", @new_player.hand_sz, class: "rpe-base-detail" %>
  </p>

  <p>
  <%= label_tag "new-backhand-lab", "Backhand: ", class: "rpe-base-detail" %>
  <%= label_tag "new-backhand-val", @new_player.backhand_sz, class: "rpe-base-detail" %>
  </p>
<% end %>

<% if (!@rpexception.has_base_country) %>
<br>
<p>
  <%= label_tag "country-lab", "Enter country: " %>
</p>
<p>
  <div class="country-search">
    <input type="text" id="country-search-txt" autofocus>
    <div class="results" id="country-search-results"></div>
  </div>
</p>

<%= javascript_tag do %>
  <!-- alert("Executing javascript in rpexceptions.edit"); -->
  new app.Rpexceptions;
<% end %>
\
<p>
  <%= submit_tag "Set player country", :name => "update[:set_player_country]" %>
</p>
<% end %>

<br>
<p>
<%= link_to 'Back', :back %>
</p>

<%= content_for :script do %>
  new app.Rpexceptions;
<% end %>

<% end %>

