<h1>Search for tennis players</h1>

<%= form_tag(players_path, :method => "get", id: "search-form") do %>
<p>
  <%= text_field_tag :search, params[:search], placeholder: "Search Players" %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<%= will_paginate @players %>

<ul class="players">
  <% for player in @players %>
  <li>
    <%= player.player_id %>
    <%= player.first_name %>
    <%= player.last_name %>
    <%= player.country.code_3 %>
    <%= player.dob %>
  </li>
  <% end %>
</ul>

<%= will_paginate %>
