<h1>Player Info</h1>

Name: <%= player.first_name %> <%= player.last_name %>
Country: <%= player.country.name %>
DOB: <%= player.dob %>
Code: <%= player.p_code %>
Hand: <%= player.hand %>
Backhand: <%= player.backhand %>

